In [1]:
import csv
import json
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Usar pd.read_excel para leer un archivo .xlsx
usage = pd.read_excel("C:/Users/joaqu/Desktop/ESTADISTICA INFORME/dffinal.xlsx")

pm12024 = pd.read_csv("C:/Users/joaqu/Desktop/ESTADISTICA INFORME/pm1.2024.annon.csv")

In [2]:
usage = usage.rename(columns={'Unnamed: 0': 'student_id'})
usage

,student_id,count_complete_content,count_display_selection,avg_try_step,count_incorrect_attempts,proportion_hints,count_last_hint_true,avg_time_per_step,avg_time_to_first_hint,more_difficult_changes,similar_difficulty_changes,easier_changes
0,0139d92debd5bd16fdd202a13dedca,19,30,2.407407,78,1.105263,0,22.282515,91.674500,0.133333,0.200000,0.666667
1,0336ec2e596b428fd11b252f03c6f6,3,6,1.000000,4,0.000000,0,15.186556,0.000000,0.500000,0.000000,0.500000
2,04c558f2ef830d2548f7053e637f59,8,17,2.500000,14,0.875000,0,23.546469,54.526000,0.000000,0.117647,0.823529
3,0700c3fac2bf9ce6349552bb3254e9,0,0,0.000000,0,0.000000,0,0.000000,0.000000,0.000000,0.000000,0.000000
4,0736a07d59a84f0acbdef280e4dd64,0,1,1.000000,2,0.000000,0,0.000000,34.579000,0.000000,0.000000,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
219,fb4508c12b59c29c83a1da945a80f5,11,18,1.857143,38,0.636364,0,20.475758,42.058000,0.444444,0.111111,0.444444
220,fcd44fb7674b9a82fe1506964f3834,14,20,3.812500,110,0.000000,0,46.742224,0.000000,0.300000,0.250000,0.400000
221,fe5af099b12657fad7765b2ca78bfa,23,27,2.916667,73,1.869565,0,24.401617,95.077300,0.074074,0.185185,0.740741
222,ff56d49beb973e5056d99740ea1753,5,10,1.825000,68,8.000000,0,8.331589,48.347000,0.100000,0.000000,0.600000
223,ffa5f90f03c5ed4e29e5e49b40ebfa,30,36,4.121212,143,1.400000,0,20.288323,66.141333,0.416667,0.194444,0.388889

In [3]:
# Seleccionar las columnas específicas de pm12024
pm12024_selected = pm12024[['SE01_conf_aprender', 'SE02_autonomia_aprender', 'SE14R_cuesta_ejercicios',
                            'SE03_resolver_ejercicios', 'SE04_estudiar_tiempo_necesario', 'SE15R_cuesta_clases',
                            'SE06_entender_compleja', 'SE08_buscar_ayuda_autonomia', 'SE09_conf_aprobar',
                            'SE10_identif_baches', 'SE16R_cuesta_comparacion', 'SE11_entender_clases',
                            'SE13_resiliencia', 'SE_t1']]

# Concatenar usage y las columnas seleccionadas de pm12024
df_combined = pd.concat([usage, pm12024_selected], axis=1)

# Verificar las primeras filas del DataFrame combinado
print(df_combined)

                         student_id  count_complete_content  \
0    0139d92debd5bd16fdd202a13dedca                    19.0
1    0336ec2e596b428fd11b252f03c6f6                     3.0
2    04c558f2ef830d2548f7053e637f59                     8.0
3    0700c3fac2bf9ce6349552bb3254e9                     0.0
4    0736a07d59a84f0acbdef280e4dd64                     0.0
..                              ...                     ...
242                             NaN                     NaN
243                             NaN                     NaN
244                             NaN                     NaN
245                             NaN                     NaN
246                             NaN                     NaN

     count_display_selection  avg_try_step  count_incorrect_attempts  \
0                       30.0      2.407407                      78.0
1                        6.0      1.000000                       4.0
2                       17.0      2.500000                      14.0
3                        0.0      0.000000                       0.0
4                        1.0      1.000000                       2.0
..                       ...           ...                       ...
242                      NaN           NaN                       NaN
243                      NaN           NaN                       NaN
244                      NaN           NaN                       NaN
245                      NaN           NaN                       NaN
246                      NaN           NaN                       NaN

     proportion_hints  count_last_hint_true  avg_time_per_step  \
0            1.105263                   0.0          22.282515
1            0.000000                   0.0          15.186556
2            0.875000                   0.0          23.546469
3            0.000000                   0.0           0.000000
4            0.000000                   0.0           0.000000
..                ...                   ...                ...
242               NaN                   NaN                NaN
243               NaN                   NaN                NaN
244               NaN                   NaN                NaN
245               NaN                   NaN                NaN
246               NaN                   NaN                NaN

     avg_time_to_first_hint  more_difficult_changes  ...  \
0                   91.6745                0.133333  ...
1                    0.0000                0.500000  ...
2                   54.5260                0.000000  ...
3                    0.0000                0.000000  ...
4                   34.5790                0.000000  ...
..                      ...                     ...  ...
242                     NaN                     NaN  ...
243                     NaN                     NaN  ...
244                     NaN                     NaN  ...
245                     NaN                     NaN  ...
246                     NaN                     NaN  ...

     SE04_estudiar_tiempo_necesario  SE15R_cuesta_clases  \
0                                 6                    2
1                                 6                    5
2                                 3                    4
3                                 3                    4
4                                 6                    1
..                              ...                  ...
242                               6                    6
243                               6                    1
244                               6                    6
245                               3                    3
246                               4                    4

     SE06_entender_compleja  SE08_buscar_ayuda_autonomia  SE09_conf_aprobar  \
0                         6                            6                  6
1                         5                            6                  6
2                         4                            3                  4
3                         4                            3                  3
4                         4                            6                  4
..                      ...                          ...                ...
242                       6                            6                  6
243                       4                            6                  6
244                       5                            6                  5
245                       5                            3                  3
246                       5                            6                  6

     SE10_identif_baches  SE16R_cuesta_comparacion  SE11_entender_clases  \
0                      6                         6                     2
1                      6                         6                     6
2                      5                         3                     4
3                      3                         4                     4
4                      5                         2                     4
..                   ...                       ...                   ...
242                    6                         6                     6
243                    4                         1                     4
244                    6                         6                     5
245                    2                         1                     4
246                    6                         2                     3

     SE13_resiliencia     SE_t1
0                   6  5.000000
1                   6  5.461538
2                   4  3.769231
3                   3  3.307692
4                   6  4.307692
..                ...       ...
242                 6  6.000000
243                 4  4.153846
244                 5  5.384615
245                 2  3.153846
246                 5  3.846154

[247 rows x 26 columns]

In [4]:
df_combined.to_excel('dfcombinado.xlsx')

### Concatenar PM3

In [38]:
import csv
import json
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Usar pd.read_excel para leer un archivo .xlsx
usage = pd.read_excel("C:/Users/joaqu/Desktop/ESTADISTICA INFORME/dffinal.xlsx")

pm32024 = pd.read_csv("C:/Users/joaqu/Desktop/ESTADISTICA INFORME/pm3.2024.annon.csv")

In [39]:
usage = usage.rename(columns={'Unnamed: 0': 'student_id'})
usage

,student_id,count_complete_content,count_try_step,count_correct_attempts,count_incorrect_attempts,count_hints,count_correct_without_hints,count_last_hint_true,total_time_in_question,avg_time_to_first_hint,more_difficult_changes,similar_difficulty_changes,easier_changes
0,0139d92debd5bd16fdd202a13dedca,19,65,83,1,21,13,0,1935.316,91.675,3,248,3
1,0336ec2e596b428fd11b252f03c6f6,3,4,6,1,0,3,0,122.870,0.000,0,27,0
2,04c558f2ef830d2548f7053e637f59,8,20,20,0,7,6,0,671.655,54.526,0,95,0
3,0700c3fac2bf9ce6349552bb3254e9,0,0,0,0,0,0,0,0.000,0.000,0,0,0
4,0736a07d59a84f0acbdef280e4dd64,0,1,0,1,1,0,0,0.000,34.579,0,9,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
219,fb4508c12b59c29c83a1da945a80f5,11,26,35,2,7,7,1,784.898,42.058,0,139,2
220,fcd44fb7674b9a82fe1506964f3834,14,61,68,5,0,14,0,2757.949,0.000,3,244,2
221,fe5af099b12657fad7765b2ca78bfa,23,70,86,7,43,14,1,2642.798,95.077,1,250,3
222,ff56d49beb973e5056d99740ea1753,5,73,73,0,40,2,0,210.846,48.347,0,201,0
223,ffa5f90f03c5ed4e29e5e49b40ebfa,30,136,164,1,42,25,2,3265.743,66.141,4,360,3

In [40]:
# Seleccionar las columnas específicas de pm12024
pm32024_selected = pm32024[['SE01_conf_aprender', 'SE02_autonomia_aprender', 'SE14R_cuesta_ejercicios',
                            'SE03_resolver_ejercicios', 'SE04_estudiar_tiempo_necesario', 'SE15R_cuesta_clases',
                            'SE06_entender_compleja', 'SE08_buscar_ayuda_autonomia', 'SE09_conf_aprobar',
                            'SE10_identif_baches', 'SE16R_cuesta_comparacion', 'SE11_entender_clases',
                            'SE13_resiliencia', 'SE_t1']]

# Concatenar usage y las columnas seleccionadas de pm12024
df_combined3 = pd.concat([usage, pm32024_selected], axis=1)

# Verificar las primeras filas del DataFrame combinado
print(df_combined)

                         student_id  count_complete_content  count_try_step  \
0    0139d92debd5bd16fdd202a13dedca                    19.0            65.0
1    0336ec2e596b428fd11b252f03c6f6                     3.0             4.0
2    04c558f2ef830d2548f7053e637f59                     8.0            20.0
3    0700c3fac2bf9ce6349552bb3254e9                     0.0             0.0
4    0736a07d59a84f0acbdef280e4dd64                     0.0             1.0
..                              ...                     ...             ...
242                             NaN                     NaN             NaN
243                             NaN                     NaN             NaN
244                             NaN                     NaN             NaN
245                             NaN                     NaN             NaN
246                             NaN                     NaN             NaN

     count_correct_attempts  count_incorrect_attempts  count_hints  \
0                      83.0                       1.0         21.0
1                       6.0                       1.0          0.0
2                      20.0                       0.0          7.0
3                       0.0                       0.0          0.0
4                       0.0                       1.0          1.0
..                      ...                       ...          ...
242                     NaN                       NaN          NaN
243                     NaN                       NaN          NaN
244                     NaN                       NaN          NaN
245                     NaN                       NaN          NaN
246                     NaN                       NaN          NaN

     count_correct_without_hints  count_last_hint_true  \
0                           13.0                   0.0
1                            3.0                   0.0
2                            6.0                   0.0
3                            0.0                   0.0
4                            0.0                   0.0
..                           ...                   ...
242                          NaN                   NaN
243                          NaN                   NaN
244                          NaN                   NaN
245                          NaN                   NaN
246                          NaN                   NaN

     total_time_in_question  avg_time_to_first_hint  ...  \
0                  1935.316                  91.675  ...
1                   122.870                   0.000  ...
2                   671.655                  54.526  ...
3                     0.000                   0.000  ...
4                     0.000                  34.579  ...
..                      ...                     ...  ...
242                     NaN                     NaN  ...
243                     NaN                     NaN  ...
244                     NaN                     NaN  ...
245                     NaN                     NaN  ...
246                     NaN                     NaN  ...

     SE04_estudiar_tiempo_necesario  SE15R_cuesta_clases  \
0                                 6                    2
1                                 6                    5
2                                 3                    4
3                                 3                    4
4                                 6                    1
..                              ...                  ...
242                               6                    6
243                               6                    1
244                               6                    6
245                               3                    3
246                               4                    4

     SE06_entender_compleja  SE08_buscar_ayuda_autonomia  SE09_conf_aprobar  \
0                         6                            6                  6
1                         5                            6                  6
2                         4                            3                  4
3                         4                            3                  3
4                         4                            6                  4
..                      ...                          ...                ...
242                       6                            6                  6
243                       4                            6                  6
244                       5                            6                  5
245                       5                            3                  3
246                       5                            6                  6

     SE10_identif_baches  SE16R_cuesta_comparacion  SE11_entender_clases  \
0                      6                         6                     2
1                      6                         6                     6
2                      5                         3                     4
3                      3                         4                     4
4                      5                         2                     4
..                   ...                       ...                   ...
242                    6                         6                     6
243                    4                         1                     4
244                    6                         6                     5
245                    2                         1                     4
246                    6                         2                     3

     SE13_resiliencia     SE_t1
0                   6  5.000000
1                   6  5.461538
2                   4  3.769231
3                   3  3.307692
4                   6  4.307692
..                ...       ...
242                 6  6.000000
243                 4  4.153846
244                 5  5.384615
245                 2  3.153846
246                 5  3.846154

[247 rows x 27 columns]

In [41]:
df_combined3_filtrado = df_combined3[df_combined3['SE_t1'].notna()]
# Mostrar las primeras filas del DataFrame filtrado
df_combined3_filtrado

,student_id,count_complete_content,count_try_step,count_correct_attempts,count_incorrect_attempts,count_hints,count_correct_without_hints,count_last_hint_true,total_time_in_question,avg_time_to_first_hint,...,SE04_estudiar_tiempo_necesario,SE15R_cuesta_clases,SE06_entender_compleja,SE08_buscar_ayuda_autonomia,SE09_conf_aprobar,SE10_identif_baches,SE16R_cuesta_comparacion,SE11_entender_clases,SE13_resiliencia,SE_t1
0,0139d92debd5bd16fdd202a13dedca,19,65,83,1,21,13,0,1935.316,91.675,...,4.0,5.0,4.0,6.0,6.0,5.0,3.0,6.0,5.0,4.769231
1,0336ec2e596b428fd11b252f03c6f6,3,4,6,1,0,3,0,122.870,0.000,...,5.0,4.0,5.0,6.0,6.0,5.0,5.0,5.0,5.0,5.153846
2,04c558f2ef830d2548f7053e637f59,8,20,20,0,7,6,0,671.655,54.526,...,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,6.000000
3,0700c3fac2bf9ce6349552bb3254e9,0,0,0,0,0,0,0,0.000,0.000,...,5.0,3.0,2.0,3.0,2.0,3.0,2.0,3.0,4.0,3.384615
4,0736a07d59a84f0acbdef280e4dd64,0,1,0,1,1,0,0,0.000,34.579,...,2.0,6.0,6.0,4.0,6.0,6.0,6.0,6.0,3.0,5.076923
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184,d9191369247fe01a15855400de8fc6,0,0,0,0,0,0,0,0.000,0.000,...,4.0,6.0,6.0,6.0,6.0,6.0,6.0,6.0,5.0,5.769231
185,d93cc78ee2c820d4c189bc4df97adb,19,95,112,1,84,11,4,3262.617,212.504,...,3.0,3.0,3.0,4.0,4.0,4.0,4.0,3.0,3.0,3.692308
186,d9f4a2cd29655b1d5ea851d3944c01,1,22,21,2,4,0,0,98.889,53.644,...,5.0,3.0,2.0,4.0,4.0,5.0,3.0,4.0,2.0,3.461538
187,daff4ba22c5637f8e98042a46ed9ec,20,116,135,1,49,12,3,2753.548,103.297,...,3.0,2.0,3.0,3.0,2.0,5.0,2.0,3.0,2.0,2.692308
188,de254575695e3972c9187096b2d095,10,21,23,0,6,6,1,1256.333,25.196,...,3.0,3.0,3.0,4.0,3.0,4.0,3.0,3.0,2.0,3.307692

In [42]:
df_combined3_filtrado.to_excel('dfcombinado3.xlsx')